.sobreMi{
    height: 100vh;
    display:flex;
    flex-direction:column;
    width: 90%;
    text-align: center;
   justify-content: center;
    align-items: center;
    margin: 2% 0 1% 5%;
    
    box-shadow: 27px 10px 152px -33px var(--fondo);
-webkit-box-shadow: 27px 10px 152px -33px var(--fondo);
-moz-box-shadow: 27px 10px 152px -33px var(--fondo);
}
.tituloSobreMi{
    text-align: center;
    font-size:2.45rem;
    padding-top: 55px;
    font-family: var(--letra);
   
}
.descarga{
    color: rgb(3, 3, 3);
    font-size: 1.35rem;
    font-weight: bold;
    border: var(--fondo) solid 3px;
    padding: 10px;
    border-radius: 10px;    
}