:root{
    /*Variables*/
    --letraCnav: #22222b;
    --fondoNav: rgba(173, 69, 194, 0.5);
    --gray: rgba(100, 73, 89, 0.5);
    --letra:  'Fuzzy Bubbles', cursive;
    --letraTitulo: Helvetica;
    --fondo: #e28aee;
   
}
body{
    width: 100%;
    font-family: var(--letra);

}
header {
    background: var(--fondo);

}

footer{
    text-align: center;
}