.trabajo{
    width:90%;
    margin: 2% 0 1% 5%;
    box-shadow: 27px 10px 152px -33px var(--fondo);
-webkit-box-shadow: 27px 10px 152px -33px var(--fondo);
-moz-box-shadow: 27px 10px 152px -33px var(--fondo);
}
.trabajos div{
    margin: 2% 0 1% 5%;
    -webkit-border-top-left-radius: 700px;
    -webkit-border-top-right-radius: 1000px;
    -webkit-border-bottom-right-radius: 80px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-topleft: 700px;
    -moz-border-radius-topright: 1000px;
    -moz-border-radius-bottomright: 80px;
    -moz-border-radius-bottomleft: 9px;
    border-top-left-radius: 700px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 9px;
    padding: 10px;
    text-align:center;
    background-color: var(--fondo);
}

.trabajos img{
    width:300px;
    margin:30px;
}
.porfolio{
    text-align:center;
    font-size:2.45rem;
    padding-top: 10px;
    font-family: var(--letra);
}
@media screen and (min-width:768px) {
    .trabajos {
        display:grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .trabajos img{
        width:25rem;
    }
}